sudo: false
language: java
jdk:
  - oraclejdk11
  - openjdk12
  - openjdk-ea
matrix:
  allow_failures:
    - jdk: openjdk-ea
install: true
cache:
  directories:
    - $HOME/.m2
script: ./mvnw clean install
